[submodule "Scripts/soci"]
	path = Scripts/soci
	url = git@github.com:Manromen/conan-soci-scripts.git
[submodule "Scripts/cnats"]
	path = Scripts/cnats
	url = git@github.com:Manromen/conan-cnats-scripts.git
[submodule "Scripts/zlib"]
	path = Scripts/zlib
	url = git@github.com:Manromen/conan-zlib-scripts.git
[submodule "Scripts/nlohmann-json"]
	path = Scripts/nlohmann-json
	url = git@github.com:Manromen/conan-nlohmann-json-scripts.git
[submodule "Scripts/libressl"]
	path = Scripts/libressl
	url = git@github.com:Manromen/conan-libressl-scripts.git
[submodule "Scripts/mysql-c-client"]
	path = Scripts/mysql-c-client
	url = git@github.com:Manromen/conan-mysql-c-client-scripts.git
[submodule "Scripts/sqlite"]
	path = Scripts/sqlite
	url = git@github.com:Manromen/conan-sqlite-scripts.git
[submodule "Scripts/protobuf-c"]
	path = Scripts/protobuf-c
	url = git@github.com:Manromen/conan-protobuf-c-scripts.git
[submodule "Scripts/protobuf-cpp"]
	path = Scripts/protobuf-cpp
	url = git@github.com:Manromen/conan-protobuf-cpp-scripts.git
[submodule "Scripts/curl"]
	path = Scripts/curl
	url = git@github.com:Manromen/conan-curl-scripts.git
